@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
  font-family: 'Jua', sans-serif;
}

:root {
  color: var(--primary-white) im !important;
}

/*===================== Navbar start =======================*/

.logo {
  width: 16.25rem;
}

img {
  padding-top: 14px;
  padding-left: 20px;
}

/*===================== End of Navbar  =======================*/

/*===================== Menu Links start =======================*/
nav a.nav-link {
  font-size: .8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) im !important;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

/*===================== End of menu links =======================*/