@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
  font-family: "Jua", sans-serif;
}

:root {
  --primary-white: white;
  --primary-orange: orange;
  --primary-black: rgba(255,255,255,0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-sky: rgb(31,255,255);
}

/*===================== Navbar start =======================*/

nav {
  z-index: 2;
}

.logo {
  width: 16.25rem;
}

img {
  padding-top: 25px;
  padding-left: 20px;
}

/*===================== End of Navbar  =======================*/

/*===================== Menu Links start =======================*/
nav a.nav-link {
  font-size: .8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  /*may add color for font but not necessary while bg color is white */
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 0.1875rem solid;
  color: black;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

@media(max-width: 768px) {
  .navbar-brand {
    width: 7rem;
  }
}

.navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}

/*===================== End of menu links =======================*/

/*===================== Start - Header ==========================*/
.header-wraper {
  position: relative;
  background: url() no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Jua", sans-serif;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}


/*===================== End of Header ==========================*/

/*===================== TYPED TEXT (react-typed) start ==========================*/

.typed-text {
  font-size: 2rem;
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }
}

.typed-text {
  font-size: 1.3rem i !important;
}

/*===================== End of TYPED TEXT (react-typed) ==========================*/

/*===================== HEADER MAIN OFFER BUTTON STARTS ==========================*/
.btn-main-offer {
  border: 1px solid var(--primary-sky);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-red);
  color: var(--primary-white);
  transition: .2s ease-in-out;
}

/*===================== End of HEADER MAIN  OFFER BUTTON ==========================*/

/*============ PARTICLES JS starts  =================*/

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width: 768px) {
  .particles-canvas {
  display: none;
  }
}
/*============ ENd of PARTICLES JS  =================*/